asgiref==3.8.1
black==24.10.0
certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.4.0
click==8.1.7
distlib==0.3.9
Django==5.1.1
django-admin-sortable2==2.2.3
django-debug-toolbar==4.4.6
django-tinymce==4.1.0
environs==11.0.0
filelock==3.16.1
identify==2.6.1
idna==3.10
loguru==0.7.2
marshmallow==3.23.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
pathspec==0.12.1
pillow==11.0.0
platformdirs==4.3.6
pre_commit==4.0.1
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
ruff==0.7.1
sqlparse==0.5.1
tenacity==9.0.0
urllib3==2.2.3
virtualenv==20.27.0
